body{
    color:black;
    background: mediumpurple;
    margin: 0px;
    font-family: "Varela Round", sans-serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 1px black;
    padding: 20px;
    font-size: 17px;
}


.chamada {
    background: rgb(114, 64, 161);
    padding-bottom: 52px;
    padding-top: 52px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 32px;

    }

 p{
    font-size: 20px;

    }

    img{
        height: 200px;
    }

    .categoria-videos{
        display: flex;
        overflow-x: auto;
        gap: 10px;

    }

 .categoria {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 50px;s
    }

    .categoria-videos img {
        opacity: 0.5;
    }

    .categoria-videos img:hover {
        opacity: 1.0;
        border: 1px solid red;
    }